* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
.main-heading {
	font-size: 5rem;
	color: orange;
	width: 100vw;
	text-align: center;
	background: rgba(255, 186, 164, 0.618);
	margin: 50px 0;
}
.turns {
	text-align: center;
	margin-bottom: 50px;
}

.main-container {
	width: 35rem;
	height: 35rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.input-block {
	width: 95%;
	height: 95%;
	background: lightblue;
	border-radius: 22px;
	cursor: pointer;
}

/* styling for cross and cross tag */
.cross {
	background: hsl(0, 81%, 70%);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.cross-tag {
	position: absolute;
	color: white;
	text-shadow: 0px 0px 20px hsl(0, 81%, 40%);
	font-size: 4rem;
	font-weight: 700;
	pointer-events: none;
}

/* styling for zero and zero tag */
.zero {
	background: hsl(48, 78%, 56%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.zero-tag {
	position: absolute;
	color: white;
	text-shadow: 0px 0px 10px hsl(48, 78%, 26%);
	font-size: 5rem;
	font-weight: 700;
	pointer-events: none;
}

/* Making it responsive */

@media only screen and (max-width: 425px) {
	.main-heading {
		font-size: 4rem;
	}
	.main-container {
		width: 21rem;
		height: 21rem;
	}
	.cross-tag {
		font-size: 3rem;
	}
	.zero-tag {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 280px) {
	.main-heading {
		font-size: 3rem;
	}
	.main-container {
		width: 17rem;
		height: 17rem;
	}
}
